@import "tailwindcss";



html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.2rem; /* base font size 22px */
  background-color: #0B1D31; /* brand-dark */
  color: white;
  overflow: hidden; 
  text-transform: uppercase;
  text-align: center;
  background-image: url('/images/backgroundPattern.svg');
  background-repeat: repeat;
}


@keyframes anmtdOpcty {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}


.page-faded-bg {
  position: relative;
  z-index: 0;
}
.page-faded-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -20; 
  background-color: rgba(11, 29, 49, 0.9);
}

/* .anmtd-grdnt-bg::after */
.anmtd-grdnt-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10; 
  animation: anmtdOpcty 2s alternate infinite ease-in-out;
}

/* .blu-grdnt-bg::after */
.blu-grdnt-bg::after {
  background-image: linear-gradient(0deg, rgba(11,29,48,0.00) 0%, rgba(88,209,255,0.35) 100%);
}

/* .rd-grdnt-bg::after */
.rd-grdnt-bg::after {
  background-image: linear-gradient(0deg, rgba(11,29,48,0.00) 0%, rgba(255,19,68,0.35) 100%);
}

/* .grn-grdnt-bg::after */
.grn-grdnt-bg::after {
  background-image: linear-gradient(0deg, rgba(11,29,48,0.00) 0%, rgba(0,255,107,0.35) 100%);
}